body {
    text-align: center;
}
* {
    font-family: "Libre Franklin", sans-serif;
}
img {
    margin-bottom: 2em;
    width: 70%;
    margin-top: 2.5em;
}

h1 {
    margin: 0;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}
b {
    color: black;
}
p {
    margin-top: 0;
    margin-bottom: 2em;
}
.mail {
    box-sizing: border-box;
    width: 350px;
    max-width: 48%;
    display: flex;
    flex-direction: column;
}
input {
    height: 38px;
    width: 100%;
    max-width: 350px;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid hsl(0, 0%, 59%);
    box-sizing: border-box;
    outline: none;
}

.error {
    color: red;
    margin: 0;
    margin-right: auto;
    
}
input::placeholder {
    padding-left: 10px;
}
.button {
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    height: 38px;
    box-shadow: 0 3px 13px -3px hsl(223, 87%, 63%);
    width: 120px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: hsl(223, 87%, 63%);
    margin-left: 1em;
}
.button:hover {
    background-color: hsl(223, 87%, 63%, 0.7);
}
.imgp {
    width: 60%;
    margin-top: 2.5em;
    
}
footer button img {
    margin: 0;
    
}
footer {
    margin-top: 2.5em;
}
footer p {
    color: hsl(0, 0%, 59%);
}
footer button {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(184, 174, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
footer button:hover {
    background-color: hsl(223, 87%, 63%);
}
.hide {
    display: none;
}
.but {
    display: flex;
    justify-content: center;
}
.inn {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-right: auto;
    margin-left: auto;
}
.inred {
    border-color: red;
}
.success {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 550px) {
    .inn {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .button {
        width: 70%;
        margin: 0;
    }
    .mail {
        width: 70%;
        max-width: unset;
    }
    input {
        width: 100%;
    }
    footer {
        margin-top: 4em;
    }
}
